/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-cgb-block-min-slider  {
  background: $green;
  border: 0.2rem solid $black;
  color: $black;
  margin: 0 auto;
  max-width: 740px;
  padding: 2rem;
}
.col-3.gallery-item {
  width: 33.33%;
  float: left;
}
.gallery-item a {
display: inline-block
}
.gallery-item {
    position: relative;
}
.remove-item {
    position: absolute;
    top: 10px;
    right: 10px;
}
