/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-cgb-block-min-slider  {
  background: $red;
  border: 0.2rem solid $black;
  color: $black;
  margin: 0 auto;
  max-width: 740px;
  padding: 2rem;
}
.col-2.gallery-item {
  width: 50%;
  float: left;
}
.col-3.gallery-item {
    width: 33.33%;
    float: left;
}
.col-4.gallery-item {
  width: 25%;
  float: left;
}
.gallery-item a {
  display: inline-block
}
.gallery-item {
  margin-right: 0px !important;
  margin-bottom: 0px !important;
  position: relative;
}
.wp-block-min-slider-block-min-slider {
  display: inline-block;
  height: auto;
  width: 100%;
  margin: 0 -15px !important;
}

.col-md-6.full-content.style2-wrap {
  width: 50%;
  float: left;
}
.gallery-style2.col-md-3 {
  float: left;
  width: 25%;
}
.remove-item {
    position: absolute;
    top: 10px;
    right: 10px;
}
